//Fonts
$font-family: "Open Sans", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "PT Serif", sans-serif;

//Colors
$text: #fff;
$white-color: #fff;
$second-color: #ff1f67;
$bgr: #000;
$bgr-2: #1a1a1a;